{
  "gdrive": {
    "clientId": "TU_CLIENT_ID.apps.googleusercontent.com",
    "clientSecret": "TU_CLIENT_SECRET"
  },
  "dropbox": {
    "appKey": "TU_APP_KEY",
    "appSecret": "TU_APP_SECRET"
  },
  "r2": {
    "accountId": "TU_ACCOUNT_ID",
    "accessKeyId": "TU_ACCESS_KEY_ID",
    "secretAccessKey": "TU_SECRET_ACCESS_KEY",
    "bucketName": "camtrader",
    "safetyCapGB": 9.5
  },
  "b2": {
    "endpoint": "s3.us-west-004.backblazeb2.com",
    "keyId": "TU_KEY_ID",
    "applicationKey": "TU_APPLICATION_KEY",
    "bucketName": "camtrader",
    "safetyCapGB": 9.5
  },
  "firebase": {
    "serviceAccountJson": {
      "client_email": "TU_CUENTA_DE_SERVICIO@TU_PROYECTO.iam.gserviceaccount.com",
      "private_key": "-----BEGIN PRIVATE KEY-----\nTU_CLAVE_PRIVADA\n-----END PRIVATE KEY-----\n"
    },
    "bucketName": "tu-proyecto.appspot.com",
    "safetyCapGB": 4.5
  }
}
